<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="NPoco" version="3.5.0" targetFramework="net452" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="UniSA.ISTS.Diagnostics.Logging.Log4Net" version="4.1.1.0" targetFramework="net452" />
  <package id="Unity" version="4.0.1" targetFramework="net452" />
</packages>